*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
      background: linear-gradient(to right, #320358, #6a3105);
}

.container{
   display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.to-do-list{ 
   padding: 30px 40px;
    background-color: white;
    border-radius: 10px; 
    max-width: 700px;
    min-width: 300px
   
   
}

.title-container{
 display: flex;
 justify-content: flex-start;
 align-items: center;
 margin: 10px 0px;
}

.input-container{
    background-color: #320358;
    display: flex;
     background-color: rgb(235, 233, 233);
     justify-content: center;
     margin: 15px 0px;
   
}
.input-container input{
    border: none;
    outline: none;
    background-color: rgb(235, 233, 233);
    padding: 10px 10px;
    border-radius: 10px 0px 0px 10px;
    width: 300px;
     
}
.input-container>button{
    border: none;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 10px;
}
.heading>h1{
    width: 200px;
    color: white;
    font-weight: bold;
    line-height: 1.5;
    font-size: 40px;
}
.heading>h1>span{
    color: #eab012;
}
.title-container img{
 width: 50px;
 height: 50px;
}

.input-container{
    background-color: rgba(255, 255, 255, 0.819);
   
}

/* result part */
.list-item-container{
    margin-top: 40px;
}
.list-items{
 display: flex;
 justify-content: space-between;
 align-items: center;
  margin-left: 10px;
  margin: 10px 0px;
  
}
.taskBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border: none;
    outline: none;
    border-radius: 100%;
    gap: 5px;

}
.circle-btn{
     border: none;
    outline: none;
     border-radius: 100%;
     height: 20px;
    width: 20px;
   
}
.tik-mark{
   height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 2px solid rgb(11, 146, 47);
}

.circle{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 2px solid black;
}
.list-items>li{
    list-style: none;
    display: flex;
    gap: 10px;
   align-items: center;

}

.list-items>p{
    color: rgb(109, 108, 108);
}

.delete{
    border: none;
    outline: none;
    background-color: white;
    color: rgb(130, 128, 128);
    font-size: 18px;
}

.timeStamp {
  display: block;
  font-size: 0.75rem;
  color: #888;
  margin-top: 4px;
}

.edit , .delete{
    width: 20px;

}

@media screen and (max-width:768px) {
    .container{
   display: flex;
   flex-direction: column-reverse;
   
}
.to-do-list{ 
   padding: 30px 20px;
   
}

.input-container input{
  width: 200px;
     
}

}